<template payTrace-payment-credit-card-plugin></template>
<div id="payTrace_payment" data-payTrace-credit-card="true">



  <script src='https://protect.paytrace.com/js/protect.min.js'></script>

  <script src='https://protect.sandbox.paytrace.com/js/protect.min.js'></script>

  <input type="button" id="ProtectForm" value="Pay {{ page.cart.price.totalPrice|currency }}"
         class="btn btn-primary btn-block w-100">
  <div id='pt_hpf_form'></div>

</div>


