.payTrace_ach_payment {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#payTrace_payment .error-card-ech{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

#payTrace_payment .ach-forma{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  #payTrace_payment .ach-forma {
    padding: 10px;
    font-size: 9px;
  }
}

#ach-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#ach-full-name {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom:20px
}
.ach-error-message {
  padding: 12px 20px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  margin-top: 20px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #842029;
  border-color: #f5c2c7;
}

.savings {
  margin-left: 1rem;
}
#paytrace-loading-indicator{
  text-align:center;
  margin: 15px 0;
}