<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">


    <card>
        <title>PayTrace Payment Settings</title>
        <title lang="de-DE">PayTrace Payment Settings</title>

        <input-field type="single-select">
            <name>mode</name>
            <label>Mode</label>
            <options>
                <option>
                    <id>sandbox</id>
                    <name>Sandbox</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live</name>
                </option>
            </options>
            <defaultValue>sandbox</defaultValue>
        </input-field>

    </card>


    <card>
        <title>Client Id and Client Secret - Production </title>
        <input-field type="text">
            <name>clientIdProd</name>
            <label>client Id</label>
        </input-field>

        <input-field type="password">
            <name>clientSecretProd</name>
            <label>Client Secret</label>
        </input-field>

    </card>

    <card>
        <title>Client Id and Client Secret - Sandbox </title>
        <input-field type="text">
            <name>clientIdSandbox</name>
            <label>client Id</label>
        </input-field>

        <input-field type="password">
            <name>clientSecretSandbox</name>
            <label>Client Secret</label>
        </input-field>
    </card>

    <card>
        <input-field type="text">
            <name>integratorId</name>
            <label>Integrator Id</label>
        </input-field>
    </card>

    <card>
        <input-field type="text">
            <name>merchantId</name>
            <label>Merchant Id</label>
        </input-field>
    </card>

    <card>
        <title>Authorize and capture</title>
        <input-field type="single-select">
            <name>authorizeAndCapture</name>
            <label>Transaction type</label>
            <helpText>Allow admin to manually authorize and capture payments
                When enabled, the admin can review and approve payments.All payment will be on hold until the admin approves it</helpText>

            <options>
                <option>
                    <id>auth</id>
                    <name>Auth Only</name>
                </option>
                <option>
                    <id>direct_capture</id>
                    <name>Auth and Capture</name>
                </option>
            </options>

            <defaultValue>auth</defaultValue>

        </input-field>
    </card>

</config>
