<div>
  <sw-button-process
      :is-loading="isLoading"
      :process-success="isSaveSuccessful"
      @process-finish="saveFinish"
      @click="check"
  >
    Test API Connection
  </sw-button-process>
</div>