<div>
  <sw-button-process
      :is-loading="isLoading"
      :process-success="isSaveSuccessful"
      @process-finish="saveFinish"
      @click="check"
  >
    {{ $tc('Paytrace.apiTest.connection') }}
  </sw-button-process>
</div>