{% extends '@Storefront/storefront/page/account/index.html.twig' %}

{% block page_account_main_content %}
  <div class="payTrace-saved b2b-create-title-text">
    <input type="hidden" name="parentname" value="payTrace Saved Cards">
  </div>

    <div class="account-welcome">
        <h1>Saved Cards</h1>
    </div>
{% endblock %}


