{% sw_extends '@Storefront/storefront/page/account/sidebar.html.twig' %}

{% block page_account_sidebar_menu_inner %}
    {{ parent() }}
    
    {% block page_account_sidebar_link_payTrace_saved_cards %}
        <a href="{{ path('frontend.account.payTrace-saved-cards.page') }}"
           title="{{ 'account.payTraceSavedCards'|trans|striptags }}"
           class="list-group-item list-group-item-action account-aside-item{% if activeRoute is same as('frontend.account.payTrace-saved-cards.page') %} is-active{% endif %}">
           PayTrace Saved Cards
        </a>
    {% endblock %}
{% endblock %}
